.container {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: ". a .";
  }

@media screen and (max-width: 500px){
    .container {
        display: grid; 
        grid-template-columns: 1fr; 
        gap: 0px 0px; 
        grid-template-areas: ". a .";
      }

    .cta {
        padding: 6px 70px 6px 15px;   
        width: 2rem; 
    }

      .title-text {
        font-size: calc(20vh/5); 
    }

      .landing-para {
        max-width: 24ch;
    }
}