

@media screen and (min-width: 1061px){
    .main-grid {
        display: grid;
        gap: 1rem;
        min-height: 100%;
        grid-template-columns: .10fr .80fr .10fr;
    }
}

.grid-one {
    display: grid;
    gap: 1rem;
    min-height: 100%;
    grid-template-columns: .10fr .80fr .10fr;
}

.grid-two {
    display: grid;
    gap: 1rem;
    min-height: 100%;
    grid-template-columns: .10fr .80fr .10fr;
    background: var(--blue);
    margin-top: 8em;
    padding-top: 4em;
}



@media screen and (min-width: 1061px){
    .res-grid {
        display: grid;
        gap: .2rem;
        min-height: 100%;
        grid-template-columns: repeat(4, auto);
    }
}

@media screen and (max-width: 1349px){
    .res-grid {
        display: grid;
        gap: .2rem;
        min-height: 100%;
        grid-template-columns: repeat(3, auto);
    }
}

@media screen and (max-width: 949px){
    .res-grid {
        display: grid;
        gap: .2rem;
        min-height: 100%;
        grid-template-columns: repeat(2, auto);
    }
}

@media screen and (max-width: 649px){
    .res-grid {
        display: grid;
        gap: .2rem;
        min-height: 100%;
        grid-template-columns: repeat(1, auto);
    }
}