

@media screen and (min-width: 1061px){
    .main-grid {
        display: grid;
        gap: 1rem;
        min-height: 100%;
        grid-template-columns: .20fr .60fr .20fr;
    }
}

@media screen and (min-width: 1061px){
    .main-grid {
        display: grid;
        gap: 1rem;
        min-height: 100%;
        grid-template-columns: .10fr .80fr .10fr;
    }
}

@media screen and (min-width: 1061px){
    .res-grid {
        display: grid;
        gap: .2rem;
        min-height: 100%;
        grid-template-columns: repeat(4, auto);
    }
}

@media screen and (max-width: 1060px){
    .res-grid {
        display: grid;
        gap: .2rem;
        min-height: 100%;
        grid-template-columns: repeat(2, auto);
    }
}