@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
	--yellow: #F9F871;
	--green: #8CC647;
	--green-dark: #00AD5C;
	--tan: #E78F7C;
	--blue: #00B2CB;
	--blue-dark: #001B51;
	--black: #404040;
	--white: #ffffff;
}

a {
	text-decoration: none;
}

.a {
	grid-area: a;
	padding: 3em; 
	border: 5px solid; 
	border-radius: 18px;
	border-color: var(--blue-dark);
	-webkit-box-shadow: 10px 10px 0px 1px var(--blue-dark);
	box-shadow: 10px 10px 0px 1px var(--blue-dark);

	background: linear-gradient(169deg, var(--green), var(--blue));
	background-size: 200% 250%;
	-webkit-animation: backColour 15s ease infinite;
    -moz-animation: backColour 15s ease infinite;
    -o-animation: backColour 15s ease infinite;
    animation: backColour 15s ease infinite;
}

.title {
	
	margin: auto;
}

.title-text {
	font-family: 'rubik';
	font-weight: 900;
	font-size: calc(40vh/5);
	color: var(--white);
	cursor: default;
}

.landing-para {
	font-family: 'rubik';
	font-weight: 300;
	font-size: 1.1rem;
	color: var(--white);
	padding-top: 1rem;
	max-width: 45ch; 
	cursor: default;
}

b {
	font-weight: 300;
	cursor: default;
}

b:hover {
	font-weight: 300;
	background: linear-gradient(180deg,rgba(255,255,255,0) 50%, var(--blue) 50%);
}

.landing-para-2 {
	font-family: 'rubik';
	font-weight: 600;
	font-size: 1.1rem;
	color: var(--white);
	display: inline-flex;
	padding-top: 1rem;
	max-width: 45ch; 
	cursor: default;
}

.cta {
	
	font-family: 'rubik';
	font-weight: 600;
	font-size: 1.2rem;
	text-align: center;


	margin-top: 40px;
	margin-bottom: 20px;
	padding: 15px 96px 15px 70px;
	width: 3.5rem;

	color: var(--white);
	background: transparent;
	border: 5px solid;
	border-radius: 18px;
	border-color: var(--white);
	-webkit-box-shadow: 5px 5px 0px 1px var(--blue-dark); 
	box-shadow: 5px 5px 0px 1px var(--blue-dark);
	background-color: var(--white);
	border-color: var(--blue-dark);
	
	cursor: pointer; 

	transition: background-color .5s ease-in-out 10ms;   

}

.button-text {
	width: 7ch; 
	background: -webkit-linear-gradient(var(--green), var(--blue));
  	-webkit-background-clip: text;
	background-clip: text;
  	-webkit-text-fill-color: transparent; 
	transition-delay:1s; 
	color: var(--blue-dark);
	transition: color 10s ease-in-out 10ms;
}

.cta:hover { 
	background-color: var(--yellow); 
}

.cta:hover .button-text{ 
	transition-delay:.1s;  
	color: var(--white);
	-webkit-text-fill-color: var(--blue-dark);
}

.cta:active {
	margin-top: 43px; 
	margin-left: 5px;
	margin-bottom: 17px;
	background-color: var(--yellow);
	border-color: var(--blue-dark);
	box-shadow: none;
}

.cta:active .button-text{ 
	color: var(--green);
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:100%;
  }

  .loader-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display:flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(269deg, var(--green-dark), var(--blue));
    background-size: 400% 400%;

    -webkit-animation: backColour 31s ease infinite;
    -moz-animation: backColour 31s ease infinite;
    -o-animation: backColour 31s ease infinite;
    animation: backColour 31s ease infinite;
  }

@keyframes loader {
    0% { transform:rotate(0deg);}
    25% { transform:rotate(180deg);}
    50% { transform:rotate(0deg);}
    75% { transform:rotate(360deg);}
    100% { transform:rotate(0deg);}
  }

@-webkit-keyframes backColour {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes backColour {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-o-keyframes backColour {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes backColour {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}