@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

h1 {
    font-size: 4.2rem;
    font-weight: 100;
    letter-spacing: .1rem;
    line-height: 3.7rem;
    font-family: "Public Sans", sans-serif;
}

.line {
    background-color: #000;
    width: 350px;
    height: 4px;
    margin-bottom: 3rem;
    
}

.landing{
    
    max-width: 500px;
    margin-left: 5vw;
    margin-right: 5vw;
    padding: 10em 0em 10em 0em;
    
}

.background {
    position: absolute;
    left: -50;
    z-index: -50;
}

p {
    padding-bottom: 2em;
}

a{
    display: block;
    width: 200px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    font-family: "Public Sans", sans-serif;
    text-decoration: none;
    color: #333;
    border: 2px solid #333;
    border-radius: 2px;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .35s;
  }
  
  a span{
    position: relative;
    z-index: 2;
  }
  
  a:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #C9E7E5;
    transition: all .35s;
    
    
  }
  
  a:hover{
    color: #000000!important;
  }
  
  a:hover:after{
    width: 100%;
    border-radius: 2px;
  }

body
{
    font-family: "Public Sans", sans-serif;
    font-size: 15px; 	
    line-height: 25px;
    font-weight: 400;	    
    color: #6c6c6c;
    background-color: #fff;
    overflow-x: hidden;
    background: url("bg.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

body a
{
    text-decoration: none;
    color: #000000;    
    transition: color .2s linear, background-color .2s linear, border-color .2s linear;
}

body a:hover
{
    color: #acacac;
}

body img
{
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    display: block;
}

::-moz-selection 
{ 
    background-color: #fef271; 
}

::selection 
{ 
    background-color: #fef271; 
}

.doc-loader 
{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 99999;	
    background-color: #fff;
}

.site-content
{
    width: calc(100% - 100px);
    margin-top: 160px;
    margin-left: 100px;
    padding-bottom: 100px;
    position: relative;
    transition: margin .3s .4s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.open .site-content 
{
    margin-left: 650px;
}

.done .site-content 
{
    transition-delay: 0s !important;
}

.content-left
{
    float: left;
    width: 30%;
    position: relative;
}

.content-left-holder
{
    position: fixed;    
}

.content-right
{
    float: right;
    width: 70%;    
    position: relative;
}

.content-right-holder
{
    width: 700px;    
    max-width: 95%;
}

.welcome-content
{
    width: 200px;   
    padding-left: 85px;
    position: relative;
}

.welcome-image
{
    position: absolute;
    top: -120px;
    left: -30px;
    z-index: -1;
    max-width: none;
    max-height: none;
    transition: all 0s ease;
}

.site-logo
{
    padding: 0;
}

.site-logo img
{
    width: 145px;
    height: 250px;
    margin-bottom: 100px;    
}

.site-description
{
    font-size: 13px;
    line-height: 20px;
}

.page h1.entry-title
{    
    font-family: "Public Sans", sans-serif;
    font-size: 24px;
    line-height: 38px;
    padding: 0;
}














.carousel-cell 
{
    margin-right: 50px;
}

.carousel-cell .post-num 
{
    color: #a6a6a6;
    padding-top: 25px;
}

.carousel-cell h3.entry-title 
{
    font-family: "Public Sans", sans-serif;
    font-size: 15px;
    line-height: 20px;
    padding: 0;
    font-weight: 700;    
}

.carousel-cell .cat-links 
{
    color: #000000;
}

.carousel-cell .cat-links:before 
{
    content: "";
    display: inline-block;
    width: 25px;
    height: 1px;
    background-color: #000;
    vertical-align: 5px;
    margin-right: 5px;
}

.flickity-prev-next-button.next
{
    
    background-size: 35px 20px;
    width: 35px;
    height: 20px;
    transition: transform .3s ease;
}

.flickity-prev-next-button.previous
{
    
    background-size: 35px 20px;
    width: 35px;
    height: 20px;
    transition: transform .3s ease;
}

.flickity-prev-next-button.next:hover 
{
    transform: translateX(10px);
}

.flickity-prev-next-button.previous:hover 
{
    transform: translateX(-10px);
}

.carousel-slider img
{    
    max-width: none;
    max-height: none;
}

.flickity-prev-next-button.next
{
    right: auto;
    left: -60px;
    z-index: 2;
    bottom: 95px;
    top: auto;
}

.flickity-prev-next-button.previous
{
    right: auto;
    left: -110px;
    z-index: 2;
    bottom: 95px;
    top: auto;
}

.flickity-prev-next-button
{
    background-color: transparent !important;
}

.flickity-prev-next-button:focus 
{
    outline: none;
    box-shadow: none;
}












.footer-info
{
    margin-top: 100px;
    padding-left: 50px;
    padding-right: 30px;
    color: #494949;
    font-size: 12px;
    line-height: 25px;
}

.footer-info a
{
    color: #494949;
}

.footer-social a 
{
    font-size: 19px;
    color: #fff;
    margin-left: 84px;
}

.footer-social a:first-child 
{
    margin-left: 0;
}

.footer-text 
{
    margin-top: 10px;
}


/* ===================================
    11. Responsive CSS
====================================== */

@media screen and (min-width: 1440px) {

    #toggle
    {
        margin-top: 44px;
    }

    .site-content
    {
        margin-top: 80px;
    }

    .home .site-content
    {
        padding-bottom: 0;
    }

    .carousel-cell img
    {
        max-height: 660px;
    }

    .content-right
    {
        width: 65%;
    }        
}

@media screen and (max-width: 1366px) {

    .carousel-cell img
    {
        max-height: 460px;
    }
}

@media screen and (max-width: 1024px)
{    
    .site-content
    {     
        padding-bottom: 50px;
        margin-left: 0;
        width: 100%;
    }

    .site-content
    {
        padding-bottom: 50px !important;
    }

    .menu-right-part
    {
        position: absolute;
    }

    .menu-right-part.open 
    {    
        position: fixed;
    }

    .content-left
    {
        float: none;
        text-align: center;
        width: 100%;
    }

    .content-left-holder
    {
        position: relative;
    }

    .content-right 
    {        
        width: 95%;
        float: none;
        margin: 0 auto;        
    }

    .content-right-holder
    {            
        margin: 0 auto;
        max-width: 100%;
    }

    .welcome-content
    {
        width: 100%;
        padding: 0;
    }

    .welcome-image
    {
        display: none;
    }

    .site-logo
    {
        display: inline-block;
    }

    .site-description
    {
        display: inline-block;
        vertical-align: top;
        padding-top: 40px;
        text-align: left;
        padding-left: 80px;
        max-width: 200px;
    }   

    .flickity-prev-next-button.next
    {
        right: 20px;
        left: auto;    
        top: -40px;
    }

    .flickity-prev-next-button.previous
    {
        right: 75px;
        left: auto;     
        top: -40px;
    }

    .progress_bar_field_holder
    {
        max-width: 100%;
    }
}

@media screen and (max-width: 640px)
{    

    body.done
    {
        overflow: hidden;
    }

    #toggle 
    {
        margin-top: 5px;
    }

    .site-content
    {
        margin-top: 45px;
    }

    .open .site-content
    {
        margin-left: 0;
    }

    #header-main-menu
    {
        padding-left: 0;
        padding-top: 85px;
    }   

    .carousel-cell
    {
        margin-right: 25px;
    }    

    .footer-info
    {
        padding-left: 0;
    }

    .menu-right-part
    {
        margin-left: -25px;
    }

    menu-right-part.open.done 
    {
        left: -25px;
    }

    .menu-left-part
    {
        width: 100%;
        left: -120%;
        left: calc(-100% - 100px);
    }

    .site-logo 
    {
        display: block;
    }

    .site-logo img
    {
        margin: 0 auto;
    }

    .site-description
    {
        display: block;
        padding-bottom: 45px;
        padding-left: 0;
        text-align: center;
        margin: 0 auto;
    }

    .home .site-description
    {
        padding-bottom: 100px;
    }

    .carousel-cell img
    {
        max-height: 215px;
    }

    .one_half, .one_third, .one_fourth, .two_third, .three_fourth
    {
        width: 100%;
        float: none;
        margin-right: 0;
        margin-left: 0;
        text-align: center;
    }

    .member-wrapper .text-right
    {
        text-align: center;
    }

    .services-wrapper 
    {
        float: none;
        width: 100%;
        text-align: center;
        display: block;
    }

    .services-content
    {
        float: none;
        display: block;
        width: 100%;
        text-align: center;
    }

    .services-line
    {
        margin-right: auto;    
        padding-bottom: 25px;
    }

    .category-filter-list 
    {
        line-height: 30px;
    }

    .grid-sizer, .grid-item, .grid-item.p_two_third
    {
        width: 50%;
    }

    .blog-item-holder 
    {
        padding-bottom: 65px;
    }

    .blog-item-holder .item-text
    {
        margin-top: 0;
    }    

    .blog-item-holder .item-info 
    {    
        padding: 25px 0 20px 0;
        width: 100%;
        font-size: 12px;
        line-height: 18px;
    }

    .blog-item-holder .item-info-left ul:first-of-type, .blog-item-holder .item-info-right ul:first-of-type
    {
        padding-bottom: 10px;
    }

    .blog-item-holder h2.entry-title 
    {    
        font-size: 26px;
        line-height: 32px;    
        padding-top: 0;
    }

    .header-page-content
    {
        padding-bottom: 20px;
    }

    .single-post .post-info 
    {
        text-align: center;
        float: none;
        width: 100%;
        padding-right: 0;
        font-size: 12px;
        line-height: 18px;
    }

    .post-info .post-num
    {        
        font-size: 40px;
        margin-top: 0;
        margin-bottom: 20px;
    }

    .post-info .post-num span 
    {
        letter-spacing: -15px;
    }

    .post-info .post-num .separator
    {   
        font-size: 35px;
        vertical-align: -10px;    
    }

    .post-info .post-num .total-posts
    {
        font-size: 35px;
        vertical-align: -30px;
    }

    .single-post .item-info-left 
    {
        display: inline-block;
        padding-right: 35px;
    }

    .single-post .item-info-right 
    {
        display: inline-block;
    }

    .single-post .item-info-text
    {
        padding-bottom: 10px;
    }

    .single-nav 
    {
        padding-bottom: 35px;
        padding-top: 40px;
    }

    .single .nav-previous, .single .nav-next 
    {
        display: inline-block;
        float: none;
    }

    .single .entry-holder 
    {
        text-align: center;
        float: none;
        width: 100%;
    }

    .single .entry-content
    {
        text-align: justify;
    }

    blockquote.inline-blockquote 
    {
        width: 100%;
        float: none;
        margin-right: 0;
        margin-top: 30px;
        font-size: 19px;
        line-height: 24px;
        margin-bottom: 30px;
    }

    .single-portfolio .post-info
    {
        float: none;
        width: 100%;
        padding-right: 0;
    }

    .single-portfolio .single-nav
    {
        display: none;
    }

    .single-portfolio .single-nav.mob
    {
        display: block;
    }

    .single-portfolio .item-info 
    {
        text-align: center;
    }

    .single-portfolio .item-info ul 
    {
        display: inline-block;
        margin-right: 40px;
    }

    .single-portfolio .item-info ul:last-of-type
    {
        margin-right: 0;
    }

    .footer-social a 
    {    
        margin-left: 40px;
    }    

}

@media screen and (max-width: 630px)
{    
    .grid-sizer, .grid-item, .grid-item.p_two_third
    {
        width: 100%;
    }
}